<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>

// --- initialise cookie consent

window.cookieconsent.initialise({
    "palette": {
        "popup": { "background": "#000" },
        "button": { "background": "#f1d600" }
    },
    "content" : {
        "message": "By using this website, you agree to accept the <a href='/about/#terms'>Terms and Conditions</a>, <a href='/about/#privacy'>Privacy Policy</a> and <a href='/about/#cookies'>Cookies Policy</a>.",
        "dismiss": "Accept"
    },
    "showLink": false
});

// --- scrolls an element into view by id

function surface(id) {
    document.getElementById(id).closest("div.alert").scrollIntoView({ behavior: "smooth", block: "center" });
}

// --- installs code replacement items

window.onload = function() {

    const LENGTH = { MAX: 1024, DISPLAY: 32 };

    var codes = []; // stores the original code
    var items = {}; // stores replacement items

    // --- makes a new note element

    function newNote(show) {
        let note = document.createElement("div");
        note.style["margin-top"] = "8px";
        note.style["display"] = show ? "block" : "none";
        note.innerHTML = "<span><small>&nbsp;</small></span>";
        return note;
    }

    // --- intialise inputs - do this first

    Array.from(document.querySelectorAll("input.code-replace")).forEach(function(element, index) {
        element.setAttribute("id", `replace_${ index }`);  // zero based

        let item = element.getAttribute("data-item");
        let name = element.getAttribute("data-name");
        let ack = newNote(false);

        items[item] = { index, item, name, value: "" };
        element.parentNode.appendChild(ack);

        element.addEventListener("change", function(event) {
            let value = event.target.value;

            value = value.trim().substr(0, LENGTH.MAX).replace(/\/+$/, ""); // removes trailing slashes
            value = encodeURI(value); // always encode to prevent XSS attacks

            items[item].value = value;

            for (let i = 0 ; i < codes.length ; i++) {
                let code = codes[i];  // takes a copy

                for (let j in items) {
                    if (items[j].value.length) {
                       code = code.replaceAll(j, items[j].value);
                    }
                }

                document.getElementById(`code_${ i }`).innerHTML = code;
            };

            let display = value.length < LENGTH.DISPLAY ? value : value.substr(0, LENGTH.DISPLAY) + '&hellip;';
            ack.getElementsByTagName('small')[0].innerHTML = `Sample call's <b>${ name }</b> updated with '${ display }'`;
            ack.style["display"] = value.length ? "block" : "none";
        });
    });

    // --- intialise code blocks - do this second

    Array.from(document.querySelectorAll(".code-toolbar code")).forEach(function(element, index) {
        element.setAttribute("id", `code_${ index }`);  // zero based

        let found = [];
        let outer = element.closest("div.highlight");
        let code = element.innerHTML;

        codes.push(code); // stores original value

        for (let item in items) {
            if (code.includes(item)) {
                found.push(items[item]);
            }
        }

        if (found.length) {
            found = found.map(i => `<a href="javascript:surface('replace_${ i.index }');">${ i.name }</a>`);

            let note = newNote(true);
            note.style["margin-bottom"] = "32px";
            note.getElementsByTagName('small')[0].innerHTML = `In this sample call, you can modify: ${ found.join(' or ') }`;
            outer.parentNode.insertBefore(note, outer.nextSibling);
            outer.style["margin-bottom"] = "0";
        }
    });
};

</script>
