<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>

// --- initialise cookie consent

window.cookieconsent.initialise({
    "palette": {
        "popup": { "background": "#000" },
        "button": { "background": "#f1d600" }
    },
    "content" : {
        "message": "By using this website, you agree to accept the <a href='/about/#terms'>Terms and Conditions</a>, <a href='/about/#privacy'>Privacy Policy</a> and <a href='/about/#cookies'>Cookies Policy</a>.",
        "dismiss": "Accept"
    },
    "showLink": false
});

// --- installs code replacement items

window.onload = function() {

    const LENGTH = { MAX: 1024, DISPLAY: 32 };

    var codes = []; // stores pre-changed code
    var items = {}; // stores replacement items

    Array.from(document.querySelectorAll(".code-toolbar code")).forEach(function(element) {
        element.setAttribute("id", `code_${ codes.length }`);  // zero based
        codes.push(element.innerHTML);
    });

    Array.from(document.querySelectorAll("input.code-replace")).forEach(function(element, index) {
        let ack = document.createElement("div");
        ack.setAttribute("id", `ack_${ index }`);
        ack.style["margin-top"] = "8px";
        ack.style["display"] = "none";
        ack.innerHTML = "<span class=\"text-success\"><small>&nbsp;</small></span>";
        element.parentNode.appendChild(ack);
        element.setAttribute("data-ack", ack.getAttribute("id"));

        element.addEventListener("change", function(event) {
            let ackid = event.target.getAttribute("data-ack");
            let item = event.target.getAttribute("data-item");
            let name = event.target.getAttribute("data-name");
            let value = event.target.value.trim().substr(0, LENGTH.MAX).replace(/\/+$/, ""); // removes trailing slashes

            value = encodeURI(value); // always encode to prevent XSS attacks
            items[item] = value;

            for (let i = 0 ; i < codes.length ; i++) {
                let code = codes[i];

                for (item in items) {
                    if (items[item].length) {
                       code = code.replaceAll(item, items[item]);
                    }
                }

                document.getElementById(`code_${ i }`).innerHTML = code;
            };

            let display = value.length < LENGTH.DISPLAY ? value : value.substr(0, LENGTH.DISPLAY) + '&hellip;';
            document.querySelector(`#${ ackid } span small`).innerHTML = `Code samples <b>${ name }</b> updated with '${ display }'`;
            document.querySelector(`#${ ackid }`).style["display"] = value.length ? "block" : "none";
        });
    });
};

</script>
