<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>

// --- initialise cookie consent

window.cookieconsent.initialise({
    "palette": {
        "popup": { "background": "#000" },
        "button": { "background": "#f1d600" }
    },
    "content" : {
        "message": "By using this website, you agree to accept the <a href='/about/#terms'>Terms and Conditions</a>, <a href='/about/#privacy'>Privacy Policy</a> and <a href='/about/#cookies'>Cookies Policy</a>.",
        "dismiss": "Accept"
    },
    "showLink": false
});

// --- installs code replacement items

window.onload = function() {

    var codes = []; // stores pre-changed code
    var items = {}; // stores replacement items

    Array.from(document.querySelectorAll(".code-toolbar code")).forEach(function(element) {
        element.setAttribute("id", `code_${ codes.length }`);  // zero based
        codes.push(element.innerHTML);
    });

    Array.from(document.querySelectorAll("input.code-replace")).forEach(function(element) {
        element.addEventListener("change", function(event) {
            items[event.target.getAttribute('data-item')] = encodeURI(event.target.value.trim()); // always encode to preven XSS attacks

            for (let i = 0 ; i < codes.length ; i++) {
                let code = codes[i];

                for (item in items) {
                    if (items[item].length) {
                       code = code.replaceAll(item, items[item]);
                    }
                }

                document.getElementById(`code_${ i }`).innerHTML = code;
            };
        });
    });
};

</script>
